.titulo {
    padding-bottom: 50px;
    text-align: center;
}

.numero-invalido {
    background-color: orange;
    color: white;
}

.mensagem-erro {
    background-color: red;
    color: white;
    padding: 10px;
    display: inline;
}

